.App {
  /* text-align: center; */
  margin: 10%;
  margin-top: 68px;
}

.donation-form {
  padding: 10px;
  background: #f8f9fa;
  -webkit-box-shadow: 0px 0px 10px -3px #000000;
  box-shadow: 0px 0px 10px -3px #000000;
  position: relative;
  display: flex;
  flex-direction: column;
}

.donation-form textarea {
  height: 60px;
}

.donation-unit {
  width: 50%
}

.donation-quantity {
  display: flex;
  justify-content: center;
}

.donate-button img {
  position: absolute;
  bottom: -26px;
  right: 150px;
}