html,
body,
#map_canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.search-input {
  z-index: 9999999;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
}

#map_canvas {
  position: relative;
}