@import url('https://fonts.googleapis.com/css?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=K2D:500&display=swap');

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  %border {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
  }

  
.container {
    color: #727275;
    margin-top: 5rem;
    @extend %flex;
    width: 100%;
    height: 100%;
    font-family: 'K2D', sans-serif;
    

    a {
        color: #727275;
        text-decoration: none;
    }

    a:hover {
        color: black;
    }

    .login {
        width: 100%;
        @extend %flex;
        margin-bottom: 3rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
        .pl {
            font-size: 50px;
        }
    }

    .register {
        width: 100%;
        @extend %flex;
        padding-bottom: 3rem;
        .pr {
            font-size: 50px;
        }
    }
    .footHs {
        margin-top: 4rem;
    }
}