%flex {
    display: flex;
    justify-content: center;
  }

.App {
    margin: 0 auto;
    width: 95%;
}
.body {
    margin-top: 10rem;
    width: 100%;
    
}

.box {
    width: 150px;
  height: 150px;
  background: gray;
}