@import url('https://fonts.googleapis.com/css?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arizonia&display=swap');

.nav {
    color: #727275;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    background-color: white;
    margin-top: 0;
    .logo {
        font-family: 'Arizonia', cursive;
        font-size: 1.8rem;
        color: #727275;;
    }
    a:hover {
        text-decoration: none !important;   
    }
    a {
        color: #727275;
    }

    .dropbtn {
      background-color: rgb(15, 15, 15);
      color: white;
      padding: 8px;
      font-size: 8px;
      border-radius: 30px;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {background-color: #c4e2e61f;}
}
